@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  background-color: #000; /* Dark background color */
  color: #ffffff; /* White text color for contrast */
  margin: 0;
}
